.welcomeText {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 500;
}

.homepageContainer {
    width: 100%;
    height: 88vh;
    display: grid;
    grid-template-columns: 115px 1fr;
}

.globalContainer {
    padding: 60px 95px;
}

.headerContainer {
    color: black;
    width: 100%;
    height: 200px;
}

/* GLOBAR DATA CONTAINER */
.dataContainer {
    width: 100%;
    height: 850px;
    display: flex;
    align-items: center;
}

.nutrimentDataContainer {
    width: 360px;
    height: 100%;
    margin: 30px 0 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nutrimentData {
    background-color: #fbfbfb;
    display: flex;
    border-radius: 5px;
    width: 90%;
    height: 170px;
}

.nutrimentDataInfos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nutrimentDataQuantity {
    font-size: large;
    font-weight: bold;
    margin-bottom: 7px;
}

.nutrimentDataName {
    font-size: medium;
    color: grey;
}

.iconContainer {
    width: 150px;
    height: 100%;
    margin-right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    border-radius: 5px;
    width: 80px;
    height: 80px;
    margin: 10px;
}

.graphicsContainer {
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barChartContainer {
    background-color: #fbfbfb;
    border-radius: 5px;
    width: 100%;
    height: 55%;
}

.graphicsFlexContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40%;
}

.lineChartContainer {
    background-color: #ff0000;
    border-radius: 5px;
    width: 31%;
    height: 100%;
}

.radarChartContainer {
    background-color: #282d30;
    border-radius: 5px;
    width: 31%;
    height: 100%;
}

.radialBarChartContainer {
    background-color: #fbfbfb;
    border-radius: 5px;
    width: 31%;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    .globalContainer {
        padding: 60px 0;
        margin: auto;
        width: fit-content;
    }

    .headerContainer {
        width: fit-content;
        margin-right: 0;
    }

    .dataContainer {
        flex-direction: column;
        align-items: flex-start;
        height: fit-content;
        width: fit-content;
    }

    .nutrimentDataContainer {
        display: grid;
        width: 67vw;
        height: fit-content;
        margin: 40px auto;
        grid-template: 200px 200px / 300px 300px;
    }

    .nutrimentData {
        width: 300px;
        flex-direction: row;
    }

    .graphicsContainer {
        align-items: center;
        height: fit-content;
        width: fit-content;
    }

    .barChartContainer {
        width: 800px;
        height: 400px;
    }

    .graphicsFlexContainer {
        width: 100%;
        margin-top: 50px;
    }

    .lineChartContainer {
        width: 250px;
        height: 250px;
        font-size: 12px;
    }

    .radarChartContainer {
        width: 270px;
        height: 250px;
        font-size: 12px;
    }

    .radialBarChartContainer {
        width: 250px;
        height: 250px;
    }
}